<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<div th:insert="header :: head"></div>

<form th:action="@{/product/create}" th:object="${newProduct}" method="post">
    <input type="text" th:field="*{name}" placeholder="Product name">
    <br>
    <br>
    <input type="text" th:field="*{itemNumber}" placeholder="Item number">
    <br>
    <br>
    <input type="text" th:field="*{image}" placeholder="Image">
    <br>
    <br>
    <input type="text" th:field="*{quantity}" placeholder="Quantity">
    <br>
    <br>
    <input type="text" th:field="*{price}" placeholder="Price">
    <br>
    <br>
    <select th:field="*{category}">
    <option value="PHONES">Phones</option>
    <option value="LAPTOPS">Laptop</option>
    <option value="HEADPHONES">Headphone</option>
    </select>
    <br>
    <br>
    <select th:field="*{parameters}">
        <option value="SCREEN_SIZE">Screen size</option>
        <option value="COLOR">Color</option>
        <option value="BATTERY_CAPACITY">Battery capacity</option>
    </select>
<!--    <input type="text" th:field="*{price}" placeholder="Price">-->
    <br>
    <br>
    <select th:field="*{parameters}">
        <option value="SCREEN_SIZE">Screen size</option>
        <option value="COLOR">Color</option>
        <option value="BATTERY_CAPACITY">Battery capacity</option>
    </select>
<!--    <input type="text" th:field="*{value}" placeholder="Price">-->
    <br>
    <br>
    <button class="btn btn-success">Create</button>
    <br>
    <br>
    <button class="btn btn-success">Create</button>
</form>
<div th:insert="footer :: foot"></div>
</body>
</html>