<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reg</title>
</head>
<body>
<form th:action="@{/user/reg}" th:object="${newUser}" method="post">
    <input type="text" th:field="*{name}" placeholder="Name"/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <input type="text" th:field="*{username}" placeholder="Username"/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <input type="text" th:field="*{password}" placeholder="Password"/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button>Submit</button>
</form>
</body>
</html>